.body {
	padding: 30px 0;
	background-color: #FFFFFF;
}

/* 左侧树状导航 */
.left-tree {
	width: 180px;
}

.left-tree .title {
	width: 100%;
	font-size: 16px;
	color: #000;
	height: 35px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
	cursor: pointer;
}

.left-tree .title a {
	color: #000;
}

.left-tree .title a:hover {
	color: #000;
}

.left-tree .content {
	margin-left: 40px;
	margin-top: 20px;
}

.left-tree .content dt {
	cursor: pointer;
}

.left-tree .content .text {
	float: left;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	color: #333;
}

.left-tree .content .arrow {
	display: inline-block;
	float: left;
	width: 0;
	height: 0;
	float: left;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin: 12px 0 0 8px;
}

.left-tree .content .arrow.bottom {
	border-bottom: 4px solid #000;
}

.left-tree .content .arrow.top {
	border-top: 4px solid #000;
}

.left-tree .content dd a {
	margin-left: 26px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #333;
	font-size: 14px;
}

.left-tree .content dd a:hover {
	text-decoration: underline;
	color: #EE0000;
}

/* 右侧 */
.right-bg {
	width: 950px;
}

.right-bg .title {
	margin-left: 60px;
	font-size: 16px;
	color: #333;
	height: 35px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
}

.right-bg .title span {
	color: #666;
	font-size: 12px;
	margin-top: 8px;
	cursor: pointer;
}

.right-bg .right-content {
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
	width: 890px;
}

.right-content .tip {
	color: #999;
	padding: 8px 0 22px;
}

.right-content .addressList li {
	height: 112px;
	border-top: 1px solid #eee;
	padding-top: 19px;
}

.addressList .userMessage .userName {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}

.addressList .userMessage .nowTip {
	margin-left: 28px;
	color: #fff;
	background-color: #333;
	width: 60px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}

.addressList .userMessage .address {
	margin-top: 20px;
	color: #333;
}

.addressList .userMessage .phone {
	margin-top: 10px;
	color: #333;
}

.addressList .control .del {
	cursor: pointer;
	color: #C7C7C7;
	font-size: 16px;
	padding-left: 35px;
	margin-bottom: 15px;
}

.addressList .control p {
	cursor: pointer;
	color: #333;
	margin-bottom: 15px;
}

.addressList .control p:hover {
	color: #EE0000;
	text-decoration: underline;
}

/* 弹出修改收货地址框 */
.edit {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 100;
}

.edit .bg {
	background-color: #000000;
	opacity: 0.4;
	height: 100%;
}

.edit .editWindows {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 490px;
	margin-top: -245px;
	margin-left: -400px;
	background-color: #FFFFFF;
}

.editWindows .windowsTitle {
	height: 58px;
	line-height: 58px;
	background-color: #000;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 18px;
}

.editWindows .windowsTitle span {
	position: absolute;
	right: 23px;
	top: 0;
	opacity: 0.5;
	font-size: 21px;
}

.editWindows .windowsTitle .close {
	cursor: pointer;
}

.windowsContent {
	color: #000000;
}

.editWindows .windowsContent {
	padding: 30px 50px;
}

.windowsContent .name {
	height: 30px;
	line-height: 30px;
	color: #575757;
	font-size: 14px;
}

.windowsContent .star {
	color: #d1152a;
	font-weight: 400;
	font-style: normal;
}

.windowsContent input,
.windowsContent select {
	width: 180px;
	border: 1px solid #ccc;
	padding-left: 18px;
	height: 28px;
	line-height: 30px;
	margin-left: 23px;
	outline: none;
}

.windowsContent select {
	background-color: #FFFFFF;
}

.windowsContent>div {
	margin-bottom: 30px;
}

.windowsContent .setAdress {
	color: #000000;
}

.windowsContent .setAdress input {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.windowsContent .save {
	width: 140px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin-right: 20px;
	background-color: #000;
	color: #fff;
}

.windowsContent .flase {
	width: 140px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background-color: #ddd;
	color: #000;
}

/* 删除弹窗 */
.remove {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 100;
}

.remove .bg {
	background-color: #000000;
	opacity: 0.6;
	height: 100%;
}

.remove .removeWindows {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -200px;
	height: 260px;
	background: #fff;
	padding: 20px;
}

.remove .removeWindows .close {
	position: absolute;
	top: 13px;
	right: 28px;
	opacity: 0.6;
	font-size: 21px;
	cursor: pointer;
}

.remove .removeWindows .icon {
	background: url(../../img/Address/sprite_popup_alert_delete.png) no-repeat;
	background-position: 0 -20px;
	display: block;
	width: 40px;
	height: 40px;
	margin: 47px auto 24px;
}

.remove .removeWindows .yesDel {
	text-align: center;
	font-size: 20px;
	color: #000000;
}

.remove .removeWindows .line {
	height: 20px;
	width: 40px;
	border-bottom: 1px solid #000;
	margin: 0 auto;
}

.remove .removeWindows .button {
	margin-top: 40px;
}

.removeWindows .button .yes {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	background-color: #000000;
	color: #FFFFFF;
	margin-left: 100px;
}

.removeWindows .button .no {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	color: #888;
	background-color: #EEEEEE;
	margin-left: 40px;
}
