<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.sephora.order.dao.OrderDao">
	<sql id="SELECT_BASE">
	SELECT USER_NAME,ADDRESS_NAME,`ROW_ID`,`USER_ID`,`ADDRESS_ID`,`SUM_PRICE`,`ORDER_STATUS`,`PAY`,`ACTIVE_FLAG`,`CREATE_BY`,`CREATE_DATE`,`UPDATE_BY`,`UPDATE_DATE` 
	FROM view_user_order_address WHERE ACTIVE_FLAG=1
	</sql>
	
	<insert id="save" parameterType="order" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_ORDER 
		(`USER_ID`,`ADDRESS_ID`,`SUM_PRICE`,`ORDER_STATUS`,`PAY`,`ACTIVE_FLAG`,`CREATE_BY`,`CREATE_DATE`)
		 VALUES(#{userId},#{addressId},#{sumPrice},#{orderStatus},#{pay},#{activeFlag},#{createBy},#{createDate} )
	</insert>
	
	<select id="getByOrder" parameterType="order" resultType="order">
		<include refid="SELECT_BASE"></include>
		<if test="userId!=null">
			AND USER_ID=#{userId}
		</if>
		<if test="addressId!=null">
			AND ADDRESS_ID=#{addressId}
		</if>
		<if test="orderStatus!=null">
			AND ORDER_STATUS=#{orderStatus}
		</if>
		<if test="pay!=null">
			AND PAY=#{pay}
		</if>
	</select>
	
	<select id="findByOrder" parameterType="order" resultType="order">
		<include refid="SELECT_BASE"></include>
		<if test="userId!=null">
			AND USER_ID=#{userId}
		</if>
		<if test="addressId!=null">
			AND ADDRESS_ID=#{addressId}
		</if>
		<if test="orderStatus!=null">
			AND ORDER_STATUS=#{orderStatus}
		</if>
		<if test="pay!=null">
			AND PAY=#{pay}
		</if>
	</select>
	
	<select id="findByUserId" resultType="order">
		<include refid="SELECT_BASE"></include> 
		AND USER_ID=#{userId}
	</select>
	
	<update id="update" parameterType="order">
		UPDATE TB_ORDER 
		<set>
			<if test="userId!=null">
			 USER_ID=#{userId},
		</if>
		<if test="addressId!=null">
			 ADDRESS_ID=#{addressId},
		</if>
		<if test="sumPrice!=null">
			SUM_PRICE=#{sumPrice},
		</if>
		<if test="orderStatus!=null">
			 ORDER_STATUS=#{orderStatus},
		</if>
		<if test="pay!=null">
			 PAY=#{pay},
		</if>
		<if test="updateBy!=null">
			 UPDATE_BY=#{updateBy},
		</if>
		<if test="updateDate!=null">
			 UPDATE_DATE=#{updateDate},
		</if>
		</set>
		WHERE ROW_ID=#{rowId};
	</update>
	
	<delete id="del">
		DELETE FROM TB_ORDER WHERE ROW_ID=#{rowId};
	</delete>
</mapper>