<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.sephora.shopping.dao.ShoppingDao">
	<sql id="select_column">
		`USER_ID`,`PRODUCT_ID`,`PAY_COUNT`,`SUM_PRICE`,`CHECKED`,`ACTIVE_FLAG`,`CREATE_BY`,`CREATE_DATE` 
	</sql>
	<sql id="select_base">
		SELECT PRODUCT_NAME,BRAND_NAME,IMG_PATH,PRODUCT_PRICE,ROW_ID,<include refid="select_column"></include>
		FROM VIEW_SHOPPING_PRODUCT WHERE ACTIVE_FLAG=1 
	</sql>
	<insert id="save" parameterType="shopping" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_SHOPPING (<include refid="select_column"></include>)
		VALUES (#{userId},#{productId},#{payCount},#{sumPrice},#{checked},#{activeFlag},#{createBy},#{createDate});
	</insert>
	<select id="get" resultType="shopping">
		<include refid="select_base"></include>
			AND ROW_ID=#{rowId}
	</select>
	
	<select id="getByProductId" resultType="shopping">
		<include refid="select_base"></include>
		AND PRODUCT_ID=#{productId}
	</select>
	
	<select id="getChecekdPriceAndCount" resultType="shopping">
		SELECT SUM(SUM_PRICE) AS CHECKED_PRICE,SUM(PAY_COUNT) AS CHECKED_COUNT 
		FROM TB_SHOPPING WHERE ACTIVE_FLAG=1 AND CHECKED=1 AND USER_ID=#{userId}
	</select>
	
	<select id="find" resultType="shopping">
		<include refid="select_base"></include>
		AND USER_ID=#{userId}
	</select>
	
	<select id="findByChecked" resultType="shopping">
		<include refid="select_base"></include>
		AND USER_ID=#{userId} AND CHECKED=1
	</select>
	
	<update id="updateChecked">
		UPDATE TB_SHOPPING SET CHECKED=#{checked} WHERE USER_ID=#{userId};	
	</update>
	
	<update id="update" parameterType="shopping">
		UPDATE TB_SHOPPING 
		<set>
			<if test="productId!=null">
				PRODUCT_ID=#{productId},
			</if>
			<if test="payCount!=null">
				PAY_COUNT=#{payCount},
			</if>
			<if test="sumPrice!=null">
				SUM_PRICE=#{sumPrice},
			</if>
			<if test="checked!=null">
				CHECKED=#{checked},
			</if>
			<if test="activeFlag!=null">
				ACTIVE_FLAG=#{activeFlag},
			</if>
			<if test="updateBy!=null">
				UPDATE_BY=#{updateBy},
			</if>
			<if test="updateDate!=null">
				UPDATE_DATE=#{updateDate},
			</if>
		</set>
		WHERE ROW_ID=#{rowId}
	</update>
	
	<delete id="del">
		DELETE FROM TB_SHOPPING WHERE ROW_ID=#{rowId}
	</delete>
</mapper>