.body {
	padding: 30px 0;
	background-color: #FFFFFF;
}

/* 左侧树状导航 */
.left-tree {
	width: 180px;
}

.left-tree .title {
	width: 100%;
	font-size: 16px;
	
	height: 35px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.left-tree .title a{
	color: #000;
}
.left-tree .title a:hover{
	color: #000;
}

.left-tree .content {
	margin-left: 40px;
	margin-top: 20px;
}

.left-tree .content dt {
	cursor: pointer;
}

.left-tree .content .text {
	float: left;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	color: #333;
}

.left-tree .content .arrow {
	display: inline-block;
	float: left;
	width: 0;
	height: 0;
	float: left;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin: 12px 0 0 8px;
}

.left-tree .content .arrow.bottom {
	border-bottom: 4px solid #000;
}

.left-tree .content .arrow.top {
	border-top: 4px solid #000;
}

.left-tree .content dd a {
	margin-left: 26px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #333;
	font-size: 14px;
}

.left-tree .content dd a:hover {
	text-decoration: underline;
	color: #EE0000;
}

/* 右侧 */
.right-bg {
	width: 950px;
}

.right-bg .title {
	margin-left: 60px;
	font-size: 16px;
	color: #333;
	height: 35px;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
}
.right-bg .right-content {
	border-left: 1px solid #ccc;
	padding-left: 60px;
	padding-top: 20px;
	width: 890px;
}
/* 订单导航 */
.right-content .nav{
	background-color: #fafafa;
	padding-left: 20px;
	margin-bottom: 15px;
}
.right-content .nav li{
	float: left;
	width: 80px;
    font-size: 15px;
    color: #666;
	height: 49px;
}
.right-content .nav li span:hover{
	cursor: pointer;
	color: #e00;
}
.right-content .nav li span{
	display: inline-block;
	height: 47px;
	line-height: 47px;
}
.right-content .nav li span.boder{
	color: #000000;
	border-bottom: 2px solid #000;
}
.MyOreder-title .OrderState{
	width: 113px;
	border: 0;
	outline: none;
	background-color: #FFFFFF;
}
.MyOreder-title .OrderState1{
	width: 60px;
	border: 0;
	outline: none;
	background-color: #FFFFFF;
}
.MyOreder-title{
	border-bottom: 1px solid #dfdfdf
}
.MyOreder-title li{
	float: left;
	text-align: center;
    color: #333;
	padding:18px 0;
}
.MyOreder-title li:nth-child(1){
	width: 150px;
}
.MyOreder-title li:nth-child(2){
	width: 180px;
}
.MyOreder-title li:nth-child(3){
	width: 30px;
}
.MyOreder-title li:nth-child(4){
	width: 70px;
}
.MyOreder-title li:nth-child(5){
	width: 60px;
}
.MyOreder-title li:nth-child(6){
	width: 70px;
}
.MyOreder-title li:nth-child(7){
	width: 110px;
}
.MyOreder-title li:nth-child(8){
	width: 100px;
}
.MyOreder-title li:nth-child(9){
	width: 120px;
}

.MyOreder-content{
	padding: 20px 0;
	border-bottom: 1px solid #dfdfdf;
}
.MyOreder-content .contentLeft{
	width: 470px;
	border-right: 1px solid #dfdfdf;
	padding-left: 20px;
}
.contentLeft .number span{
	padding:2.5px 0;
}
.contentLeft .number{
	margin-bottom: 31px;
}
.contentLeft .number span:nth-child(1){
	color: #8c8c8c;
}
.contentLeft .number span:nth-child(2){
	color: #000;
    margin-left: 5px;
}
.contentLeft .number span:nth-child(3){
	color: #8c8c8c;
    margin-left: 20px;
}
.contentLeft .shopingList li{
	float: left;
	text-align: center;
	color: #000000;
}
.contentLeft .shopingList li:nth-child(1){
	text-align: left;
	width: 310px;
}
.contentLeft .shopingList li:nth-child(2){
	width: 30px;
}
.contentLeft .shopingList li:nth-child(3){
	width: 70px;
}
.contentLeft .shopingList li:nth-child(4){
	width: 60px;
}
.contentLeft .shopingList img{
	width: 90px;
	height: 90px;
}
.contentLeft .shopingList .productName{
	font-weight: 600;
    font-size: 14px;
    color: #000;
}
.contentLeft .shopingList .productTitle{
	color: #666;
	letter-spacing: 1px;
	margin-top: 2px;
}
.contentRight li{
	padding-top: 55px;
	float: left;
	color: #000000;
	text-align: center;
}
.contentRight li:nth-child(1){
	width: 70px;
}
.contentRight li:nth-child(2){
	width: 110px;
}
.contentRight li:nth-child(3){
	width: 99px;
}
.contentRight li:nth-child(4){
	width: 120px;
}
.contentRight li:nth-child(2) p:nth-child(2){
	color: #999;
	padding-bottom:5px ;
}
.contentRight li:nth-child(2) p:nth-child(3){
	width: 84px;
	margin:0 auto;
	border-top: 1px solid #eee;
	padding-top: 2px;
	color: #999;
}
.contentRight li:nth-child(4) p{
	width: 64px;
	margin:0 auto;
	padding-bottom: 5px;
}
.contentRight li:nth-child(4) p:hover{
	cursor: pointer;
	color: #EE0000;
	text-decoration: underline;
}
.right-content .buttonTeam{
	margin:40px 0 30px;
}
.right-content .buttonTeam span{
	display: inline-block;
	cursor: pointer;
}
.right-content .buttonTeam .paging{
	width: 90px;
	height: 42px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #a8a8a8;
	line-height: 42px;
}
.right-content .buttonTeam .pageNumber{
	background-color: #000;
    color: #fff;
	margin: 0 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.right-content .buttonTeam .skip{
	margin-left: 40px;
    color: #000;
    font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.right-content .buttonTeam .skip input{
	height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    margin: 0 6px;
    color: #000;
    text-align: center;
	outline: none;
}
.right-content .buttonTeam button{
	font-size: 14px;
    width: 60px;
    height: 40px;
	line-height: 40px;
    background-color: #000;
    color: #fff;
    margin-left: 20px;
	outline: none;
	cursor: pointer;
}
.likeImg{
	background:url(../../img/MyOrder/sprite_title.png) no-repeat -9px -241px;
	background-size: cover;
	display: inline-block;
	width: 296px;
	height: 26px;
}
.like .likeProduct{
	margin-top: 20px;
}
.like .likeProduct li{
	float: left;
	width: 211px;
    height: 318px;
    border: 1px solid #FFFFFF;
	cursor: pointer;
	padding-left: 9px;
	color: #000000;
	font-size: 14px;
}
.like .likeProduct li img{
	width: 180px;
	height: 180px;
	margin:16px 0 0 7px ;
}
.like .likeProduct li .productName{
	margin-top: 24px;
	font-weight: 700;
}
.like .likeProduct li .productTitle{
    color: #3e3e3e;
	margin-bottom: 8px;
}